.wizard-input {
    font: inherit !important;
    background: transparent !important;
    color: currentColor !important;
    padding: 0.8rem;
    outline: none !important;
    width: 100% !important;
    max-width: 100% !important;
    vertical-align: bottom !important;
    text-align: inherit !important;
    box-sizing: content-box !important;
  }

  .wizard-input:hover {
    border-color: #178546 !important;
  }

  .wizard-input:focus {
    box-shadow: none !important;
    border-color: #176839 !important;
  }